[tool.poetry]
name = "isaac-xml-validator"
version = "1.1.0"
description = "A script to validate XML files for The Binding of Isaac: Rebirth"
authors = ["Wofsauge <jan-.-@t-online.de>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
isaac-xml-validator = 'isaac_xml_validator:main'
