
/* ===== Primary Styles ========================================================
   Author: syssgx (http://github.com/syssgx)
   ========================================================================== */

	body {
		padding-top: 20px;
		overflow-y: scroll;
	}
	
	a:focus, a:active { outline: none; }
	
	p { font-size: 14px; }
	
	.maintabs { padding-top: 30px; }

	.t-left { display: inline; }
	
	.xmlarea_text {
		clear: both;
		width: 100%;
		min-height: 80px;
		min-width: 940px;
		max-width: 940px;
	}
	
	.valoutput {
		margin-top: 5px;
		border-radius: 5px;
		border: 2px solid rgb(221,221,221);
	}
	
	.valtext {
		width: auto;
		text-align: center;
		padding: 15px;
		font-size: 15px;
		font-weight: bold;
	}
	
	.valColor1 {
		border: 2px solid #5FE75F;
		background: #DCFADC;
	}
	
	.valColor2 {
		border: 2px solid #FF6347;
		background: #FFCBC2;
	}	
	
	.console {
		cursor: default !important;
		padding: 5px 5px 12px 12px !important;
		margin: 5px;
		background: rgba(0,0,0,0.9) !important;
		color: #f4f4f4 !important;
		font-family: monospace !important;
		font-size: 12px !important;
		width: 97%;
		min-height: 80px !important;
		border: 1px solid black !important;
		border-radius: 0px !important;
		-moz-box-shadow:    0px 0px 2px black !important;
		-webkit-box-shadow: 0px 0px 2px black !important;
		box-shadow:         0px 0px 2px black !important;
	}
	
	.valBtn {
		display: block;
		width: 100%;
		padding: 22px 22px;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		font-size: 24px;
		font-weight: bold;
		margin-top: 30px;
	}
	
	.CodeMirror pre {
		color: #f8f8f8;
		line-height: 14px;
	}
	
	.CodeMirror-gutter {
		border-radius: 8px 0px 0px 8px;
	}
	
	.CodeMirror-fullscreen {
		display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        margin: 0;
        padding: 0;
        border: 0px solid #BBBBBB;
        opacity: 1;
    }
      .cm-matchhighlight {background-color: #7c7c7c82}
      .CodeMirror-selection-highlight-scrollbar {background-color: rgba(50, 204, 209, 0.623)}

	  .styled-background{
		background: rgb(255, 0, 0)!important;
	  }
	  .CodeMirror-search-match {
		background: rgb(255, 0, 0);
		border-top: 1px solid rgb(255, 31, 31);
		border-bottom: 1px solid rgb(255, 31, 31);
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		opacity: .5;
	  }

	  span.CodeMirror-selectedtext{
		background-color: rgba(50, 204, 209, 0.75);
	  }